{% extends "base.html" %}
{% block title %} time-table {% endblock %}

{% block content %}
{% if is_db == False %}
    <a href="{% url 'time-table' %}"><button type="button">Refresh</button></a>
{% else %}
    <button onclick="deleteTable()"> Delete Time table</button>
{% endif %}


<h1 style="color: red;">TIME TABLE</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">DAYS</th>
            <th scope="col"> PERIOD 1</th>
            <th scope="col">PERIOD 2</th>
            <th scope="col" >BREAK</th>
            <th scope="col">PERIOD 3</th>
            <th scope="col">PERIOD 4</th>
            <th scope="col">LUNCH BREAK</th>
            <th scope="col">PERIOD 5</th>
            <th scope="col">PERIOD 6</th>
        </tr>
    </thead>
    <tbody>
    {% for day in time_table %}
    <tr>
        <th scope="row"> {{ day.name }}</th>
        <td> {{ day.Period1 }}</td>
        <td> {{ day.Period2 }}</td>
        {% if forloop.counter == 1  %}
            <td rowspan="5" style="transform: rotate(90deg);transform-origin: left top 0;"> BREAK </td>
        {% endif %}
        <td> {{ day.Period3 }}</td>
        <td> {{ day.Period4 }}</td>
        {% if forloop.counter == 1 %}
            <td rowspan="5"></td>
        {% endif %}
        <td> {{ day.Period5 }}</td>
        <td> {{ day.Period6 }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% load static %}
{% if is_db == False %}
    <button type="button" onclick="sendData({{db_table}})"><sp> SAVE </sp></button>
{% endif %}
<script src="{% static "jquery-3.6.0.min.js" %}"></script>
<script>
function sendData(data) {
    $.ajax({
        type: 'POST',
        url: "/time-table/submit",
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: "json",
        success: function(data) {
            location.reload(true);
        },
        error: function() {
            alert('Error occured');
        }
    });
}

function deleteTable() {
    $.ajax({
        type: 'GET',
        url: "/time-table/delete",
        success: function(data) {
            location.reload(true);
        },
        error: function() {
            alert('Error occured');
        }
    });
}
</script>

{% endblock %}
</body>
    </html>