{% extends "base.html" %}
{% block title %} time-table {% endblock %}

{% block content %}
<a href="{% url 'time-table' %}"><button type="button">Refresh</button></a>


<h1 style="color: red;">TIME TABLE</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">DAYS</th>
            <th scope="col"> PERIOD 1</th>
            <th scope="col">PERIOD 2</th>
            <th scope="col" >BREAK</th>
            <th scope="col">PERIOD 3</th>
            <th scope="col">PERIOD 4</th>
            <th scope="col">LUNCH BREAK</th>
            <th scope="col">PERIOD 5</th>
            <th scope="col">PERIOD 6</th>
        </tr>
    </thead>
    <tbody>
    {% for day in time_table %}
    <tr>
        <th scope="row"> {{ day.name }}</th>
        <td> {{ day.Period1.name }}</td>
        <td> {{ day.Period2.name }}</td>
        {% if forloop.counter == 1  %}
            <td rowspan="5" style="transform: rotate(90deg);transform-origin: left top 0;"> BREAK </td>
        {% endif %}
        <td> {{ day.Period3.name }}</td>
        <td> {{ day.Period4.name }}</td>
        {% if forloop.counter == 1 %}
            <td rowspan="5"></td>
        {% endif %}
        <td> {{ day.Period5.name }}</td>
        <td> {{ day.Period6.name }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
{% load static %}
<button type="button" onclick="sendData({{db_table}})"><sp> SAVE </sp></button>
<script src="{% static "jquery-3.6.0.min.js" %}"></script>
<script>
function sendData(data) {
    console.log(data);
    $.ajax({
        type: 'POST',
        url: "/time-table/submit",
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: "json"
    });
  /** var xhr = new XMLHttpRequest();
    xhr.open("POST", '/time-table/submit', true);
    xhr.setRequestHeader("Accept", "application/json");
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function() {
        if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            // Request finished. Do processing here.
        }
    }
    xhr.send({"data": data});**/
}
</script>

{% endblock %}
</body>
    </html>